<style>
    .profile_photo {
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 100%;
        height: 125px;
        width: 125px;
    }
    .coinMini{
        object-fit: fill;
        width: 45px;
    }
    button:

    .card {
        -webkit-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        -moz-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        box-shadow: 5px 6px 10px 0px rgba(219, 156, 255, 0.82);
        color: rgb(0, 0, 0);
    }
</style>

<div class="row text-center">
    <div class="col-md-0 d-none"></div>
    <div class="col-md-8 mt-5">
        <div class="card bg-light">
            <div class="card-title">
                <div class="card-body">
                    <img class="profile_photo" src="{{user.[0].[profile_photo]}}" alt="">
                </div>
                <h2>{{user.[0].[name]}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3 sm-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" name="name" value="{{user.[0].name}}">
                        <label for="">Nombre</label>
                    </div>
                    <div class="form-floating mb-3 sm-2">
                        <input type="number" class="form-control form-control-sm" placeholder="Nombre" name="age" value="{{user.[0].age}}">
                        <label for="">Edad</label>
                    </div>
                    <div class="form-floating mb-3 sm-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Pais" name="country" value="{{user.[0].country}}">
                        <label for="">Pais</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3 sm-2">
                        <input disabled type="email" class="form-control form-control-sm" placeholder="Nombre" name="email" value="{{user.[0].email}}">
                        <label  for="">Email</label>
                    </div>
                    <div class="form-floating mb-3 sm-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Ciudad" name="city" value="{{user.[0].city}}">
                        <label for="">Ciudad</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card bg-light mt-5">
            <div class="card-title">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 align-self-center">
                            <img class="coinMini" width="64px" src="/images/Coin.png">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Ganar</button>
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        <div class="card bg-light mt-4">
            <div class="card-title">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 align-self-center">
                            <img class="coinMini" width="64px" src="/images/Coin.png">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Ganar</button>
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        <div class="card bg-light mt-4">
            <div class="card-title">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 align-self-center">
                            <img class="coinMini" width="64px" src="/images/Coin.png">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Ganar</button>
                                <button class="btn btn-outline-dark p-1 m-1" style="border-color: darkgrey;">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
    </div>
</div>