{{#if profile}}
{{#if me}}
<style>
    .sideBar {
  background-color: #ff00d41c;
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

</style>
<div class="sideBar">
    {{#each storyMeta}}
    <div class="card card-lateral m-2 mt-5" data-bs-toggle="modal" data-bs-target="#modalHistory{{@index}}"
        history-id='{{this._id}}'>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 p-0">
                    <img src='{{this.img}}' width="75">
                </div>
                <div class="col-lg-7 px-2">
                    <h5 class="text-center text-break" style="font-weight: 400;font-size: medium;">{{this.title}}</h5>
                    <hr class="p-0 m-0">
                    <p class="fs-5 text-center p-0 m-0">{{this.progress.actual}} / {{this.progress.total}}</p>
                </div>
            </div>
        </div>
    </div>
{{> stories/modalStories}}
{{/each}}
</div>

<script>
    $('.card-lateral').on('click', function (e) {
        let id = $(this).attr('history-id')
        $.ajax({
            url: '/s/' + id,
            method: 'get',
            success: function (res) {
                console.log(res)
            }
        })
    })
</script>
{{else}}
<div class="sideBar">

</div>
{{/if}}
{{/if}}